.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: #2196f3; */
  /* padding: 10px; */
  grid-row-gap: 10px;
  justify-items: center;
}
.item1 {
  grid-column: 1/5;
  justify-self: stretch;
  /* display: grid;
  grid-template-columns: 10fr auto; */
  /* color: black; */
}
.grid-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #bdbdbd;

  /* border: 1px solid rgba(255, 255, 255, 0.8); */
  /* background-color: #434a54; */

  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px;
        text-align: center; */
}
/* .nav-grid {
  grid-template-columns: auto 1fr;
} */
